@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Outfit', sans-serif;
   @apply bg-white text-gray-800 antialiased;
}

*{
   font-family: 'Outfit', sans-serif;
}
 .prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
 .nav-item:hover{
    text-decoration: underline;
    text-decoration-color: chocolate;
    font-size: large;
    font-weight: 700;
}
@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}